cluster_role_arn = "arn:aws:iam::123456789012:role/my-eks-cluster-role"
node_role_arn    = "arn:aws:iam::123456789012:role/devops-system-design-eks-node-role"

# Exemplo para LocalStack/FLOCI:
# aws_access_key_id                  = "test"
# aws_secret_access_key              = "test"
# aws_skip_credentials_validation    = true
# aws_skip_metadata_api_check        = true
# aws_skip_requesting_account_id     = true
# aws_s3_use_path_style              = true
# aws_endpoints = {
#   s3       = "http://localhost:4566"
#   dynamodb = "http://localhost:4566"
#   iam      = "http://localhost:4566"
#   sts      = "http://localhost:4566"
#   ecr      = "http://localhost:4566"
#   eks      = "http://localhost:4566"
#   ec2      = "http://localhost:4566"
# }
