.DS_Store
**/.DS_Store

# Terraform local working directories/providers
.terraform/
**/.terraform/

# Terraform state (não versionar)
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Build artifacts locais
apps/backend/main
